

<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <%= link_to products_path, class: "flex items-center space-x-3 rtl:space-x-reverse" do %>
          <%= image_tag "uruuru.png", class: "h-7", alt: "UruUru Logo" %>
        <% end %>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
          <% if user_signed_in? %>
            <span class="text-sm text-gray-500 dark:text-white">
              Hi, <%= current_user.username || current_user.email %>
            </span>
            <%= link_to "Edit Account", edit_user_registration_path,
                class: "text-sm text-blue-600 dark:text-blue-500 hover:underline" %>
            <%= button_to "Sign Out", destroy_user_session_path,
                method: :delete,
                class: "text-sm text-blue-600 dark:text-blue-500 hover:underline" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path,
                class: "text-sm text-blue-600 dark:text-blue-500 hover:underline" %>
            <%= link_to "Log In", new_user_session_path,
                class: "text-sm text-blue-600 dark:text-blue-500 hover:underline" %>
          <% end %>
        </div>
    </div>
</nav>
<nav class="bg-gray-50 dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <%= link_to "Home", products_path, class: "text-gray-900 dark:text-white hover:underline" %>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Company</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Team</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Features</a>
                </li>
                
            </ul>
            <ul class="flex font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm ml-auto" >
                <li>
                    <%= link_to "Add Product", new_product_path, 
                        class: "rounded-md px-3.5 py-1.5 text-white bg-orange-600 hover:bg-orange-500 font-medium" %>
                </li>
            </ul>
        </div>
    </div>
</nav>
