<% product = local_assigns.fetch(:product) %>
<% thumb = product.images.attached? ? product.images.first.variant(resize_to_limit: [600, 600]) : nil %>

<div id="<%= dom_id(product, :card) %>" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm flex flex-col h-full overflow-hidden">
  <%= link_to product_path(product) do %>
    <% if thumb %>
      <%= image_tag thumb, class: "mt-2 mx-auto w-30 h-30 object-cover rounded" %>
    <% else %>
      <%= image_tag "placeholder.png", class: "mt-2 mx-auto w-30 h-30 object-cover rounded" %>
    <% end %>
  <% end %>

  <div class="px-4 pb-4 pt-3 flex-1 flex flex-col">
    <%= link_to product_path(product) do %>
      <h3 class="text-base font-semibold text-gray-900"><%= product.title %></h3>
    <% end %>

    <div class="mt-auto flex items-center justify-between">
      <span class="text-xl font-bold text-gray-900">¥<%= number_to_currency(product.price, unit: "", precision: 0) %></span>
        <%= form_with url: create_cart_item_path(product), method: :post, local: true, class: "flex items-center gap-2" do |f| %>
          <%= number_field_tag "cart_item[quantity]", 1, min: 1,
              class: "w-16 border rounded p-1 text-sm" %>
          <%= f.submit "Add to cart",
              class: "text-white bg-blue-600 hover:bg-blue-500 rounded-lg text-sm px-4 py-2 font-medium" %>
        <% end %>
    </div>
  </div>
</div>
