<%= render "shared/search" %>

<% if params[:q].present? %>
  <h2 class="text-xl font-semibold text-slate-800 my-4">
    <%= t("products.index.results_for") %>
    "<span class="font-medium"><%= params[:q] %></span>"
  </h2>
<% end %>

<%= render "products/shared/category_row", top_categories: @top_categories %>
<%= render "products/shared/brand_row", top_brands: @top_brands %>

<% if @products.any? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 items-stretch mt-6">
    <%= render partial: "products/shared/card",
              collection: @products,
              as: :product %>
  </div>
<% else %>
  <p class="text-center my-10 text-gray-500">
    <%= t("products.index.none") %>
  </p>
<% end %>
<div class="mt-6 flex justify-center">
  <%= paginate @products %>
</div>
