<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : Uruuru %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-slate-50 text-slate-900">
    <%= render "shared/navbar" %>

    <main class="container mx-auto mt-6 px-5">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
